<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="container py-3">
    <h1>Update your account</h1>
    <hr>
    <form action="/update" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=foundUser.email%>" disabled>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">username</label>
        <input id="username" name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=foundUser.username%>">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">age</label>
        <input name="age" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=foundUser.age%>" disabled>
      </div>

      <button id="button" type="submit" class="btn btn-primary">Update your account</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
       var val= document.querySelector("#username")
 
    val.addEventListener("input",function(){
      if(val.value.length>0){
        axios.get(`/cheak/${val.value} `)
        
        .then(function(user){
          console.log(user.data)
          if(user.data){
            val.style.boxShadow = "0 0 0 0.25rem rgba(253, 13, 13,.7)"
            document.querySelector("#button").setAttribute("disabled","")
          }else{
            val.style.boxShadow = "0 0 0 0.25rem rgba(13,110,253,.25)"
            document.querySelector("#button").removeAttribute("disabled","")
          }
        })
      }
    })
    </script>
</body>

</html>